body {
  background-color: #FFFAF0;
}

p {
  color: grey;
  font-size: small;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
}
