body {
  background-color: #FFFAF0;
}

.photo-name {
  color: grey;
  line-height: 15px;
  font-size: small;
  text-transform: uppercase;
}

.number-mail {
  color: grey;
  font-size: small;
  line-height: 15px;
}

.order-phone-button {
  padding: 15px 30px;
}

a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
}
